@model OptingZ.Models.UserMaster

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.ui-datepicker').each(function (i, v) {
                $(v).datepicker({
                    dateFormat: 'dd-MM-yy',
                    buttonImage: '@Url.Content("~/Content/calendar-icon.png")',
                    buttonImageOnly: true,
                    showOn: "button"
                });
            });
        });
        $(function () {
            $('img[data-src-error]').error(function () {
                var o = $(this);
                var errorSrc = o.attr('data-src-error');

                if (o.attr('src') != errorSrc) {
                    o.attr('src', errorSrc);
                }
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm("Edit", "User", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Profile</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control", @type="password", @readonly = "readonly"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (Model.UserFiles != null)
            {
                if (Model.UserFiles.FileType == OptingZ.Models.FileType.ProfilePic)
                {
                    <div class="form-group">
                        <span class="control-label col-md-2"><strong>Current Picture</strong></span>
                        <div class="col-md-10">
                            <img src="~/UserFileMaster?id=@Model.UserFiles.ID" 
                                style="width: 80px; height: 80px;" alt="image" />
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="form-group">
                    <span class="control-label col-md-2"><strong>Current Picture</strong></span>
                    <div class="col-md-10">
                        <img src="~/Content/User_Profile_Avatar.png"
                             style="width: 80px; height: 80px;" alt="image" />
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.Label("Pic", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="Pic" name="upload" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserDetailMaster.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.UserDetailMaster.BirthDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.UserDetailMaster.BirthDate, "", new { @class = "text-danger" })*@
                    @Html.TextBoxFor(model => model.UserDetailMaster.BirthDate, new {
                           @class = "ui-datepicker form-control",
                           @style = "display:block;float:left;background-color:White",
                           @placeholder = "Birthdate"
                    })
                    @Html.ValidationMessageFor(model => model.UserDetailMaster.BirthDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserDetailMaster.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserDetailMaster.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "+0(000)000-0000" } })
                    @Html.ValidationMessageFor(model => model.UserDetailMaster.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserDetailMaster.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.UserDetailMaster.Sex,
                       new SelectList(new List<Object>{
                       new { value = "Select" , text = "--Select--"  },
                       new { value = "Male" , text = "Male" },
                       new { value = "Female" , text = "Female"}
                       }, "value", "text", 1), new { @class = "form-control" })
                      
                     @Html.ValidationMessageFor(model => model.UserDetailMaster.Sex, "",
                       new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserDetailMaster.IsSubscribedByEmail, 
                        htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox" style="margin-left:20px">
                        @Html.EditorFor(model => model.UserDetailMaster.IsSubscribedByEmail,
                                new
                                {
                                    @class = "span11",
                                    @style="margin-left:50px"
                                })
                        @Html.ValidationMessageFor(model => model.UserDetailMaster.IsSubscribedByEmail, "", 
                            new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
