@model IEnumerable<OptingZ.Models.ProductMaster>

    <p>
        Whats Upp!!!
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
            </tr>
        }
    </table>
